<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookmytable"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:name=".application.BookMyTable"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bookmytable.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bookmytable.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name="com.bookmytable.MenuActivity"
            android:label="@string/title_activity_menu"></activity>
        <activity
            android:name="com.bookmytable.BookingActivity"
            android:label="@string/title_activity_booking"></activity>
        <activity
            android:name="com.bookmytable.TableSelectionActivity"
            android:label="@string/title_activity_table_selection"></activity>
        <activity
            android:name="com.bookmytable.BookingConfirmationActivity"
            android:label="@string/title_activity_booking_confirmation"></activity>
        <activity
            android:name="com.bookmytable.PayNowActivity"
            android:label="@string/title_activity_pay_now">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.tabletbookmytable.username" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.bookmytable.PaymentDetailsActivity"
            android:label="@string/title_activity_payment_details"></activity>
    </application>

</manifest>